---
// src/pages/index.astro
import BaseLayout from '../layouts/BaseLayout.astro'
---
<BaseLayout title="Homepage">
  <h1>Acerca de...</h1>
  <p>
  Esta página está creada por Hugo Cárdenas para crear una pagina con todas las Actividades extraescolares de Escuela Ideo.
  </p>
  </BaseLayout>